.pg-ribbon {
  width: 100%;
  height: 40vh;
  background-color: #3F51B5;
  flex-shrink: 0;
}

.pg-main {
  margin-top: -35vh;
  flex-shrink: 0;
}

.pg-header .mdl-layout__header-row {
  padding-left: 40px;
}

.pg-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.pg-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}

.pg-layout.is-small-screen .pg-content {
  padding: 40px 28px;
}

.pg-footer {
  padding-left: 40px;
}

.pg-footer a {
  font-size: 13px;
  text-align: center;
}

.result_pin {
  font-weight: bold;
  text-align: center;
  background-color: rgba(0,230,118, 0.4) !important;
  color: #424242 !important;
}

.result_pin_text {
  color: rgb(0,150,136) !important;
  text-align: center;
}

form {
  text-align: center;
}
